.modal-bg{
  background-color: #93B1A6 ;
}  

.btnModal:hover{
color: #183D3D !important;
background-color: #5C8374 !important;
}

.btnModal{
color: #93B1A6 !important;
background-color: #183D3D !important;
}

.bgInput{
background-color: #5C8374 !important;
}

.textColor{
color: #183D3D !important;
}