#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  --dark : #040D12;
  --primary : #183D3D;
  --secondary : #5C8374;
  --light : #93B1A6;
  --warning : #E6CF56;
  --danger : #E45151;
  --info : #004D84;
  --info-light : #7FBFED;
  --success : #0D4D10;

}
.form-control-plaintext::-webkit-input-placeholder {
  color: var(--primary);
}

.form-control::-webkit-input-placeholder {
  color: var(--primary) !important;
}

.btnArchieve{
  background-color: var(--success) !important;
  color: var(--primary) !important;
  font-size: 10px !important;
  font-size: 12px !important;
}

.btnArchieve:hover{
  background-color: var(--primary) !important;
  color: var(--light) !important;
  font-size: 12px !important;
}

.btnNote{
  background-color: var(--warning) !important;
  color: var(--dark) !important;
  font-size: 12px !important;
}

.btnNote:hover{
  background-color: var(--dark) !important;
  color: var(--warning) !important;
  font-size: 12px !important;
}

.btnBuat{
  background-color: var(--primary) !important;
  color: var(--light) !important;
}

.btnBuat:hover{
  background-color: var(--secondary) !important;
  color: var(--primary) !important;
}

.btnForm{
  color: white !important;
}

.btnForm:hover{
  color: var(--warning) !important;
}

/* .scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    display: inline-block;
  }
} */

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
    background-color: var(--dark);
  }
}
.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
